<button type="button" (click)="container.toggle()">Toggle container</button>
<button type="button" (click)="setContent('small')">Small Content</button>
<button type="button" (click)="setContent('large')">Large Content</button>
<app-popup-container #container>
  <ng-container [ngSwitch]="content">
    <app-small-content *ngSwitchCase="'small'"></app-small-content>
    <app-large-content *ngSwitchCase="'large'"></app-large-content>
    <h1 *ngSwitchDefault>No Content Selected</h1>
  </ng-container>
</app-popup-container>
